<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="recommendations (recommendations)">
    <!--/*@thymesVar id="recommendations" type="ru.suvorov.weather.core.component.clothes.SetOfClothes"*/-->
    <div th:object="${recommendations}">
        <h5>Recommendations</h5>
        <ul class="collection with-header">
            <li class="collection-header"><b>Hat</b></li>
            <li class="collection-item" th:if="${recommendations.hat != null && !recommendations.hat.isEmpty()}">
                <div th:text="${recommendations.hat[0].name}">No hat</div>
            </li>
        </ul>
        <ul class="collection with-header">
            <li class="collection-header"><b>Body</b></li>
            <li class="collection-item" th:each="bodyItem: *{body}">
                <div th:text="${bodyItem.name}">No dress</div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>