<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="container">
    <h1>Weather app</h1>
    <div class="divider"></div>
    <div class="row">
        <div class="col s4">
            <p><b>Please write down the city name and your temperature tolerance so we could recommend you what to
                wear</b></p>
            <form th:method="get" action="#" th:action="@{/recommendation}" name="requestForm">
                <label>
                    <output name="temperatureDiffOutput" id="temperatureDiffOutput"
                            th:value="${temperatureDiff ?: @environment.getProperty('temperatureDiff')}"
                            th:text="'Temperature tolerance: ' + ${temperatureDiff ?: @environment.getProperty('temperatureDiff') + ' C'}">
                        9
                    </output>
                    <i class="material-icons left">ac_unit</i>
                    <i class="material-icons right">wb_sunny</i>
                    <input type="range" id="temperatureDiff" name="temperatureDiff"
                           min="0" max="30" value="9"
                           th:value="${temperatureDiff ?: @environment.getProperty('temperatureDiff')}">
                </label>
                <label>
                    City
                    <i class="material-icons left">location_city</i>
                    <input type="text" name="city" class="validate" required="required"
                           pattern="[A-Za-z0-9\s]{1,50}">
                </label>
                <!--/*@thymesVar id="WrongCityName" type="java.lang.Boolean"*/-->
                <div class="card-panel pulse red lighten-4" style="padding: 10px" th:if="${WrongCityName}">
                    Write existing city name please
                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    Get recommendations
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <div class="col s3"
             th:if="${weatherAndRecommendations?.weather != null}"
             th:object="${weatherAndRecommendations?.weather}"
             th:insert="~{weatherInfoFragment :: weatherInfo (weather = ${weatherAndRecommendations?.weather})}"></div>
        <div class="col s4"
             th:if="${weatherAndRecommendations?.setOfClothes != null}"
             th:object="${weatherAndRecommendations?.setOfClothes}"
             th:insert="~{clothesFragment :: recommendations (recommendations = ${weatherAndRecommendations?.setOfClothes})}">
        </div>
    </div>
</div>

<script>
    document.requestForm.temperatureDiff.oninput = function () {
        document.requestForm.temperatureDiffOutput.value = 'Temperature tolerance: ' + document.requestForm.temperatureDiff.value + ' C';
    }
</script>
</body>
</html>